body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #021a19;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  width: 100%;
}

a {
  text-decoration: none;
  color: #021a19;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
